<%-- 
    Document   : exam-inscription
    Created on : Oct 6, 2019, 10:38:54 PM
    Author     : hamil
--%>

<%@page import="com.dciapps.webclient.Inscricao"%>
<%@page import="com.dciapps.webclient.Curso"%>
<%@page import="com.dciapps.webclient.Disciplina"%>
<%@page import="com.dciapps.webclient.EdstProvince"%>
<%@page import="com.dciapps.webclient.Pessoa"%>
<%@page import="com.dciapps.webclient.Aluno"%>
<%@page import="com.dciapps.webclient.Turma"%>
<%@page import="com.dciapps.webclient.Nacionalidade"%>
<%@page import="java.util.List"%>
<%@page import="com.dciapps.localcontroler.EncryptUtils"%>
<%@page import="java.text.DecimalFormat"%>
<%@page import="java.text.SimpleDateFormat"%>
<%@page import="com.dciapps.webclient.Usuario"%>
<%@page import="com.dciapps.controller.GenericHandler"%>
<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SEGIA - Pré-Inscrição (Exames Extraodinários)</title>

        <!-- Page Description, Author and Keywords -->
        <meta name="description" content="Sistema Electrónico de Gestão de Informação Académica">
        <meta name="author" content="Hamilton Jhonas">
        <meta name="keywords" content="SEGIA" />

        <!-- Favicon -->
        <%
            String ip = "localhost";

            if (session.getAttribute("ip") != null) {
                ip = session.getAttribute("ip").toString();
            } else {
                response.sendRedirect("startup");
            }
        %>
        <link rel="shortcut icon" href="http://<%=ip%>:8081/suc/images/favicons/governo/apple-touch-icon.png">

        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->

        <!-- Core JS files -->
        <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
        <!-- /core JS files -->

        <!-- Theme JS files -->

        <!-- Theme JS files -->
        <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/tables/datatables/datatables.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>

        <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/datepicker.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/effects.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
        <script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
        <script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>

        <script type="text/javascript" src="assets/js/core/app.js"></script>

        <script type="text/javascript" src="assets/js/pages/form_layouts.js"></script>
        <script type="text/javascript" src="assets/js/pages/login.js"></script>
        <!-- /theme JS files -->

        <%

            EncryptUtils encryptUtils = new EncryptUtils();

            String ano = "";

            List<Turma> turmas = null;
            List<EdstProvince> provincias = null;
            List<Disciplina> disciplinas = null;
            List<Curso> cursos = null;

            String msgErro = "";
            String alerta = "";
            String lbls = "";

            String lblDistritos = "";
            String lblEscolas = "";

            Inscricao inscricao = null;

            turmas = (List<Turma>) session.getAttribute("turmas");
            provincias = (List<EdstProvince>) session.getAttribute("provincias");
            disciplinas = (List<Disciplina>) session.getAttribute("disciplinas");
            cursos = (List<Curso>) session.getAttribute("cursos");
            inscricao = (Inscricao) session.getAttribute("inscricao");

            if (session.getAttribute("msgErro") != null) {
                msgErro = session.getAttribute("msgErro").toString();
            }

            if (session.getAttribute("alerta") != null) {
                alerta = session.getAttribute("alerta").toString();
            }

            if (session.getAttribute("lblDistritos") != null) {
                lblDistritos = session.getAttribute("lblDistritos").toString();
            }

            if (session.getAttribute("lblEscolas") != null) {
                lblEscolas = session.getAttribute("lblEscolas").toString();
            }

            if (session.getAttribute("ano") != null) {
                ano = session.getAttribute("ano").toString();
            }

        %>


        <!-- START NOTIFICATION -->


        <!-- /Notification JS files -->
        <script type="text/javascript" src="assets/js/plugins/notifications/jgrowl.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/notifications/sweet_alert.min.js"></script>
        <!-- /Notification JS files -->
        <script>

            jQuery(function () {

                // Defaults override - hide "close all" button
                $.jGrowl.defaults.closer = false;

                var erro = '<%=msgErro%>';
                var bg = '<%=alerta%>';
                var hd = "Notificação do Sistema";
                var cl = "#66BB6A";
                var tp = "success";

                if (bg !== '')
                {
                    /*$.jGrowl(erro, {
                     position: 'center',
                     header: hd,
                     theme: bg
                     });*/

                    if (bg === 'bg-error')
                    {
                        cl = "#EF5350";
                        tp = "error";
                    }

                    if (bg === 'bg-warning')
                    {
                        cl = "#FF7043";
                        tp = "warning";
                    }


                    swal({
                        title: hd,
                        text: erro,
                        confirmButtonColor: cl,
                        type: tp,
                        timer: 5000
                    });
                }


            });
        </script>	
        <!-- END NOTIFICATION -->

    </head>


    <body oncontextmenu="return false"  >


        <!-- Main navbar -->
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <h6 class="text-semibold class text-uppercase" style="margin-left: 2em;"> Sistema Electrónico de Gestão de Informação Académica </h6>

                <ul class="nav navbar-nav visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                    <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- /main navbar -->


        <!-- Page container -->
        <div class="page-container login-container">

            <!-- Page content -->
            <div class="page-content">

                <!-- Main content -->
                <div class="content-wrapper">




                    <div class = "row">

                        <div class = "col-md-12 col-md-offset-0">


                            <%
                                String lst = "";
                                String act = encryptUtils.encodeString("accao#registar-aluno-online");
                                String vlBtn = "Registar Pré-Inscrição";
                                String lblReg = "Novo Registo";
                                String icnReg = "icon-file-plus";
                                String nm = session.getAttribute("nome").toString();
                                String apl = session.getAttribute("apelido").toString();
                                String bi = session.getAttribute("bi").toString();
                                String nuit = session.getAttribute("nuit").toString();
                                String sex = session.getAttribute("sexo").toString();
                                String sM = "checked";
                                String sF = "";
                                String mail = session.getAttribute("email").toString();
                                String cnt = session.getAttribute("contacto").toString();
                                String prov = session.getAttribute("provincia").toString();
                                String quar = session.getAttribute("quarteirao").toString();
                                String casa = session.getAttribute("casa").toString();
                                String end = session.getAttribute("endereco").toString();
                                String doc = session.getAttribute("documento").toString();
                                String distr = session.getAttribute("distrito").toString();
                                String dNas = "";

                                String resp = session.getAttribute("responsavel").toString();
                                String cntResp = session.getAttribute("contactoResponsavel").toString();

                                String bS = "checked";
                                String bN = "";
                                String bI = "";

                                String dS = "";
                                String dN = "checked";

                                String niv = session.getAttribute("nivel").toString();
                                String ocup = session.getAttribute("ocupacao").toString();
                                String cat = session.getAttribute("categoria").toString();

                                String bos = "NORMAL";

                                String tB = "checked";
                                String tD = "";
                                String cH = "";

                                String con = "";

                                String cD = "";
                                String cB = "";
                                String fT = "";


                            %>





                            <!-- 2 columns form -->
                            <form class="form-horizontal"   method="post" accept-charset="ISO-8859-1" action="SUZQU2VydmxldCNEQ0k=?<%=act%>">
                                <div class="panel panel-flat">
                                    <div class="panel-body">


                                        <div class="row">

                                            <div class="text-center">
                                                <center>	<img src="http://<%=ip%>:8081/suc/images/app-icons/governo.png" alt="" class="img-responsive" style="width:50%; max-width: 120px;"></center>
                                                <h5 class="content-group-lg text-bold text-uppercase">Formulário de Pré-Inscrição (Exames Extraodinários)<small class="display-block">Preencha os campos abaixo</small></h5>
                                            </div>




                                            <div class="col-md-6">

                                                <%
                                                    if (inscricao != null) {
                                                %>

                                                <a  href="print-inscription" target="_blank" class="btn bg-orange-600 btn-labeled btn-labeled-left text-bold text-uppercase">
                                                    <b><i class="icon-printer"></i></b>
                                                    Imprimir Ficha de Inscrição
                                                </a>

                                                <%
                                                    }
                                                %>

                                            </div>
                                            <br>
                                            <fieldset>
                                                <legend class="text-semibold"><i class="icon-reading position-left"></i> Dados do aluno</legend>

                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Nome:</label>
                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group has-feedback has-feedback-right">

                                                                    <input type="text" placeholder="Nome" class="form-control" name="nomeCompleto" value="<%=nm + " " + apl%>" required="">
                                                                    <div class="form-control-feedback">
                                                                        <i class="icon-regexp2 text-danger"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase"> <i class="icon-regexp2 text-danger"></i> Identificação:</label>
                                                    <div class="col-lg-9">

                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <select data-placeholder="Selecione o tipo" class="select" required="" name="documento">
                                                                    <option></option>
                                                                    <%
                                                                        String documentos[] = {"BI", "Passaporte", "DIRE", "Cédula pessoal", "Cartão de eleitor", "Carta de condução", "Outro"};

                                                                        for (String s : documentos) {

                                                                            String sel = "";

                                                                            if (s.equals(doc)) {
                                                                                sel = "selected";
                                                                            }
                                                                    %>
                                                                    <option value="<%=s%>" <%=sel%>><%=s%></option> 
                                                                    <%
                                                                        }
                                                                    %>
                                                                </select>
                                                            </div>

                                                            <div class="col-md-7">
                                                                <div class="form-group has-feedback has-feedback-right">

                                                                    <input type="text" placeholder="BI/DIRE/Passaporte N.º" class="form-control" name="bi" value="<%=bi%>" required="">
                                                                    <div class="form-control-feedback">
                                                                        <i class="icon-regexp2 text-danger"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Validade Doc.:</label>
                                                    <div class="col-lg-9">

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text" placeholder="Data de Validade" class="form-control mb-15  daterange-single" name="validadeDocumento">
                                                            </div>

                                                            <div class="col-md-6">
                                                                <input type="text" placeholder="NUIT" class="form-control" name="nuit" value="<%=nuit%>">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Data Nascimento:</label>
                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group has-feedback has-feedback-right">

                                                                    <input type="text" placeholder="Data de Nascimento" class="form-control mb-15  daterange-single" name="dataNascimento" value="<%=dNas%>" required="">
                                                                    <div class="form-control-feedback">
                                                                        <i class="icon-regexp2 text-danger"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Sexo:</label>
                                                    <div class="col-lg-9">
                                                        <div class="row">

                                                            <label class="radio-inline">
                                                                <input type="radio" name="sexo" class="styled" <%=sM%> value="Masculino">
                                                                Masculino
                                                            </label>

                                                            <label class="radio-inline">
                                                                <input type="radio" name="sexo" class="styled" <%=sF%> value="Feminino">
                                                                Feminino
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Contacto:</label>
                                                    <div class="col-lg-9">

                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <input type="email" placeholder="E-mail" class="form-control"name="email" value="<%=mail%>">
                                                            </div>

                                                            <div class="col-md-5">
                                                                <div class="form-group has-feedback has-feedback-right">

                                                                    <input type="text" placeholder="Telefone/telemóvel:" class="form-control" name="contacto" value="<%=cnt%>" required="">
                                                                    <div class="form-control-feedback">
                                                                        <i class="icon-regexp2 text-danger"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Pai:</label>
                                                    <div class="col-lg-9">

                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <input type="text" placeholder="Nome do Pai" class="form-control"name="nomePai">

                                                            </div>

                                                            <div class="col-md-5">
                                                                <input type="text" placeholder="Contacto do Pai" class="form-control" name="contactoPai">

                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <input type="text" placeholder="Local Trabalho do Pai" class="form-control"name="localPai">

                                                            </div>

                                                            <div class="col-md-5">
                                                                <input type="text" placeholder="Profissão do Pai" class="form-control" name="profissaoPai">
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Mãe:</label>
                                                    <div class="col-lg-9">

                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <input type="text" placeholder="Nome do Mãe" class="form-control"name="nomeMae" >
                                                            </div>

                                                            <div class="col-md-5">
                                                                <input type="text" placeholder="Contacto da Mãe" class="form-control" name="contactoMae">

                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <input type="text" placeholder="Local Trabalho da Mãe" class="form-control"name="localMae">

                                                            </div>

                                                            <div class="col-md-5">
                                                                <input type="text" placeholder="Profissão da Mãe" class="form-control" name="profissaoMae">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase">Encarregado Educação:</label>
                                                    <div class="col-lg-9">

                                                        <div class="row">
                                                            <div class="col-md-7">
                                                                <div class="form-group">
                                                                    <input type="text" placeholder="Nome do Encarregado Educação" class="form-control"name="responsavel" value="<%=resp%>">

                                                                </div>
                                                            </div>

                                                            <div class="col-md-5">
                                                                <div class="form-group">
                                                                    <input type="text" placeholder="Contacto " class="form-control" name="contactoResponsavel" value="<%=cntResp%>">

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </fieldset>


                                        </div>



                                        <div class="col-md-6">




                                            <fieldset>
                                                <legend class="text-semibold"><i class="icon-home5 position-left"></i> ENDEREÇO</legend>


                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase"> <i class="icon-regexp2 text-danger"></i> Província:</label>
                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <select id="make" data-placeholder="Selecione a provincia" class="select" name="provincia" required="">
                                                                    <option></option>
                                                                    <%

                                                                        for (EdstProvince s : provincias) {
                                                                            String sel = "";

                                                                            String desc = s.getName();

                                                                            if (prov.equals(desc)) {
                                                                                sel = "selected";
                                                                            }
                                                                    %>
                                                                    <option value ="<%=desc%>" <%=sel%>><%=desc%></option>
                                                                    <%
                                                                        }
                                                                    %>
                                                                </select>

                                                            </div>

                                                            <div class="col-md-6">
                                                                <select id="models"  data-placeholder="Selecione o distrito" class="select" name="distrito" required="">
                                                                    <option></option>
                                                                </select>       
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <input type="text" placeholder="Endereço" class="form-control" name="endereco" value="<%=end%>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <input type="text" placeholder="Quarteirão/Talhão" class="form-control mb-15"  name="quarteirao" value="<%=quar%>">
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="text" placeholder="Nº da Casa" class="form-control"  name="casa" value="<%=casa%>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <fieldset>
                                                <legend class="text-semibold"><i class="icon-clipboard2 position-left"></i> Inscrição</legend>

                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase"> <i class="icon-regexp2 text-danger"></i> Escola:</label>
                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <select data-placeholder="Selecione a escola" class="select" name="escola" required="" id="schools">
                                                                    <option></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase"> <i class="icon-regexp2 text-danger"></i> Classe:</label>
                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="mb-15">
                                                                    <select data-placeholder="Selecione a classe" class="select" required="" name="idCurso" readonly="">

                                                                        <%
                                                                            if (cursos != null) {
                                                                                for (Curso c : cursos) {
                                                                                    int id = c.getCursId();
                                                                                    String s = encryptUtils.decodeString(c.getCursDescricao());

                                                                        %>
                                                                        <option value="<%=id%>"><%=s%></option> 
                                                                        <%
                                                                                }
                                                                            }
                                                                        %>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label text-bold text-uppercase"> <i class="icon-regexp2 text-danger"></i> Disciplina(s):</label>
                                                    <div class="col-lg-9">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <select  data-placeholder="Selecione a(s) disciplina(s)" class="select"  multiple="multiple" class="select-access-multiple" name="refDisciplinas">
                                                                    <optgroup label="Selecione a(s) disciplina(s)">
                                                                        <%
                                                                            for (Disciplina d : disciplinas) {

                                                                                String s = encryptUtils.decodeString(d.getDiscDescricao());

                                                                        %>
                                                                        <option value="<%=s%>"><%=s%></option> 
                                                                        <%
                                                                            }
                                                                        %>
                                                                    </optgroup>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>

                                        </div>

                                    </div>


                                    <div class="text-left">
                                        <i class="icon-regexp2 text-danger"></i> -  <span class="text-semibold text-muted">Campos de preenchimento obrigatório</span>
                                    </div>

                                    <div class="text-right">
                                        <button type="submit" onclick="this.disabled = 'disabled'; this.form.submit();" class="btn text-bold text-uppercase  bg-slate-800"><%=vlBtn%> <i class="icon-arrow-right14 position-right"></i></button>
                                    </div>
                                </div>
                        </div>
                        </form>
                        <!-- /2 columns form -->
                    </div>
                </div>	


            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

        <!-- Footer -->
        <div class="footer text-bold">
            &copy; <%=ano%>. <a href="#" class="text-bold">MINEDH. SEGIA</a>. Todos os direitos reservados
        </div>
        <!-- /footer -->

    </div>
    <!-- /page container -->




    <script>
        $(function () {
            //setup arrays
            var cars = {<%=lblDistritos%>};
            var schools = {<%=lblEscolas%>};

            $('#make').change(function () {
                $("#models").html(""); //clear existing options
                $("#schools").html(""); //clear existing options
                var newOptions = cars[this.value]; //finds the array w/the name of the selected value
                //populate the new options
                for (var i = 0; i < newOptions.length; i++) {

                    $("#models").append("<option value='" + newOptions[i] + "'>" + newOptions[i] + "</option>");

                }

                var newOptions2 = schools[this.value]; //finds the array w/the name of the selected value
                //populate the new options
                for (var i = 0; i < newOptions2.length; i++) {

                    $("#schools").append("<option value='" + newOptions2[i] + "'>" + newOptions2[i] + "</option>");

                }
            });
        });
    </script>

    <script type="text/javascript" src="assets/js/pages/picker_date.js"></script>
</body>
</html>
