<%-- 
    Document   : ifp-list
    Created on : Sep 14, 2017, 12:26:26 PM
    Author     : hamil
--%>

<%@page import="java.util.Arrays"%>
<%@page import="com.dciapps.webclient.EdstProvince"%>
<%@page import="com.dciapps.webclient.AnoLectivo"%>
<%@page import="com.dciapps.webclient.Exame"%>
<%@page import="com.dciapps.webclient.SalaExame"%>
<%@page import="com.dciapps.webclient.Media"%>
<%@page import="com.dciapps.webclient.Inscricao"%>
<%@page import="com.dciapps.local.Pauta"%>
<%@page import="java.util.Date"%>
<%@page import="com.dciapps.webclient.Notas"%>
<%@page import="com.dciapps.webclient.Calendario"%>
<%@page import="com.dciapps.webclient.Disciplina"%>
<%@page import="com.dciapps.webclient.Curso"%>
<%@page import="com.dciapps.webclient.Turma"%>
<%@page import="com.dciapps.webclient.Aluno"%>
<%@page import="com.dciapps.webclient.Presencas"%>
<%@page import="com.dciapps.webclient.ModulosUsuario"%>
<%@page import="com.dciapps.webclient.Funcionario"%>
<%@page import="java.util.List"%>
<%@page import="com.dciapps.localcontroler.StringUtils"%>
<%@page import="com.dciapps.localcontroler.EncryptUtils"%>
<%@page import="java.text.DecimalFormat"%>
<%@page import="java.text.SimpleDateFormat"%>
<%@page import="com.dciapps.webclient.Usuario"%>
<%@page import="com.dciapps.controller.GenericHandler"%>
<%@page contentType="text/html" pageEncoding="UTF-8"%>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SEGIA -  Listagem dos Inscritos (Formação Professoress)</title>

        <!-- Page Description, Author and Keywords -->
        <meta name="description" content="Sistema Electrónico de Gestão de Informação Académica">
        <meta name="author" content="Hamilton Jhonas">
        <meta name="keywords" content="SEGIA, DC Inovaction, Software, Multimedia, Escola, School, Vendas, Stock, Market, Branding, Logo, Hotel, Hotelaria, RH, Recursos Humanos, Controlo de Acesso, Web Design, Web Marketing, Development, Hosting" />

        <!-- Favicon -->
        <%
            String ip = "localhost";

            if (session.getAttribute("ip") != null) {
                ip = session.getAttribute("ip").toString();
            } else {
                response.sendRedirect("startup");
            }
        %>
        <link rel="shortcut icon" href="http://<%=ip%>:8081/suc/images/favicons/governo/apple-touch-icon.png">




        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link href="assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
        <link href="assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
        <!-- /global stylesheets -->

        <!-- Core JS files -->
        <script type="text/javascript" src="assets/js/plugins/loaders/pace.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/loaders/blockui.min.js"></script>
        <!-- /core JS files -->

        <!-- Theme JS files -->
        <script type="text/javascript" src="assets/js/plugins/forms/selects/select2.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/tables/datatables/datatables.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/tables/datatables/extensions/fixed_columns.min.js"></script>

        <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/datepicker.min.js"></script>
        <script type="text/javascript" src="assets/js/core/libraries/jquery_ui/effects.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/pickers/daterangepicker.js"></script>
        <script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
        <script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>
        <script type="text/javascript" src="assets/js/plugins/visualization/echarts/echarts.js"></script>

        <script type="text/javascript" src="assets/js/core/app.js"></script>



        <script type="text/javascript" src="assets/js/pages/form_layouts.js"></script>
        <script type="text/javascript" src="assets/js/pages/datatables_responsive.js"></script>
        <!-- /theme JS files -->


        <%

            int timeout = session.getMaxInactiveInterval();

            GenericHandler gh = new GenericHandler(request, response);
            Usuario usuario = gh.loggedUser();

            String nome = "";
            String fotoPerfil = "";
            String cargo = "";

            SimpleDateFormat sdf = new SimpleDateFormat("dd/MM/yyyy");
            DecimalFormat df = new DecimalFormat("#,###,##0.00");
            EncryptUtils encryptUtils = new EncryptUtils();

            List<Curso> cursos = null;
            List<Inscricao> inscricoes = null;
            List<EdstProvince> provinces = null;

            Disciplina disciplina = null;
            Curso curso = null;

            String msgErro = "";
            String alerta = "";

            ModulosUsuario mu = null;

            AnoLectivo anoLectivo = null;

            String provinciaSel = "";
            String escolaSel = "";
            String lblEscolas = "";

            if (usuario != null) {

                nome = encryptUtils.decodeString(usuario.getPessoapess().getPessNome()) + " " + encryptUtils.decodeString(usuario.getPessoapess().getPessApelido());
                fotoPerfil = usuario.getUsuaFotoperfil();
                cargo = usuario.getTipoUsuariotipu().getTipuDescricao();

                disciplina = (Disciplina) session.getAttribute("disciplinaSelecionada");
                curso = (Curso) session.getAttribute("cursoSelecionado");
                anoLectivo = (AnoLectivo) session.getAttribute("anoLectivoActivo");

                provinces = (List<EdstProvince>) session.getAttribute("provinces");

                cursos = (List<Curso>) session.getAttribute("cursos");
                inscricoes = (List<Inscricao>) session.getAttribute("inscricoes");

                msgErro = session.getAttribute("msgErro").toString();
                alerta = session.getAttribute("alerta").toString();

                mu = (ModulosUsuario) session.getAttribute("modulosUsuarioLogin");

                if (session.getAttribute("provinciaSel") != null) {
                    provinciaSel = session.getAttribute("provinciaSel").toString();
                }

                if (session.getAttribute("escolaSel") != null) {
                    escolaSel = session.getAttribute("escolaSel").toString();
                }

                if (session.getAttribute("lblEscolas") != null) {
                    lblEscolas = session.getAttribute("lblEscolas").toString();
                }

                response.setHeader("Refresh", timeout + "; URL =VXN1YXJpb1NlcnZsZXQjRENJ?" + encryptUtils.encodeString("accao#lockscreen&user=" + encryptUtils.decodeString(usuario.getUsuaUsuario())));

            }
        %>




        <!-- START NOTIFICATION -->


        <!-- /Notification JS files -->
        <script type="text/javascript" src="assets/js/plugins/notifications/jgrowl.min.js"></script>
        <script type="text/javascript" src="assets/js/plugins/notifications/sweet_alert.min.js"></script>
        <!-- /Notification JS files -->
        <script>

            jQuery(function () {

                // Defaults override - hide "close all" button
                $.jGrowl.defaults.closer = false;

                var erro = '<%=msgErro%>';
                var bg = '<%=alerta%>';
                var hd = "Notificação do Sistema";
                var cl = "#66BB6A";
                var tp = "success";

                if (bg !== '')
                {
                    /*$.jGrowl(erro, {
                     position: 'center',
                     header: hd,
                     theme: bg
                     });*/

                    if (bg === 'bg-error')
                    {
                        cl = "#EF5350";
                        tp = "error";
                    }

                    if (bg === 'bg-warning')
                    {
                        cl = "#FF7043";
                        tp = "warning";
                    }


                    swal({
                        title: hd,
                        text: erro,
                        confirmButtonColor: cl,
                        type: tp,
                        timer: 5000
                    });
                }


            });
        </script>	
        <!-- END NOTIFICATION -->


    </head>

    <body oncontextmenu="return false">




        <!-- Main navbar -->
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <h6 class="text-semibold class text-uppercase" style="margin-left: 2em;"> Sistema Electrónico de Gestão de Informação Académica </h6>

                <ul class="nav navbar-nav visible-xs-block">
                    <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
                    <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar-mobile">


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown language-switch">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="assets/images/flags/mz.png" class="position-left" alt="">
                            Português
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a class="english"><img src="assets/images/flags/gb.png" alt=""> English</a></li>


                        </ul>
                    </li>

                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img src="http://<%=ip%>:8081/suc/images/profile-pictures/<%=fotoPerfil%>" alt="<%=nome%>">
                            <span class="text-bold text-uppercase"><%=nome%></span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="VXN1YXJpb1NlcnZsZXQjRENJ?YWNjYW8jdmVyLXBlcmZpbA=="><i class="icon-user-plus"></i> Definições da Conta</a></li>
                            <li class="divider"></li>
                            <li><a href="VXN1YXJpb1NlcnZsZXQjRENJ?YWNjYW8jbG9nb3V0I0RDSQ=="><i class="icon-switch2"></i> Terminar Sessão</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navbar -->


        <!-- Page header -->
        <div class="page-header">
            <div class="breadcrumb-line breadcrumb-line-wide">

                <%
                    String nmEscola = "";

                    if (session.getAttribute("nmEscola") != null) {
                        nmEscola = session.getAttribute("nmEscola").toString();
                    }
                %>

                <ul class="breadcrumb">
                    <li><a href="#"><i class="icon-home2 position-left"></i> <%=nmEscola%></a></li>
                </ul>
            </div>

            <div class="page-header-content">
                <div class="page-title">
                </div>

                <div class="heading-elements">
                    <div class="heading-btn-group">
                        <form method="post" action="main-dashboard">
                            <button type="submit" onclick="this.disabled = 'disabled';
                                    this.form.submit();" class="btn btn-labeled btn-labeled-left bg-danger-400 heading-btn text-bold text-uppercase">Voltar ao painel principal<b><i class="icon-chevron-left"></i></b></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page header -->


        <!-- Page container -->
        <div class="page-container">

            <!-- Page content -->
            <div class="page-content">


                <!-- Main sidebar -->
                <div class="sidebar sidebar-main">
                    <div class="sidebar-fixed">
                        <div class="sidebar-content">

                            <!-- Main navigation -->
                            <div class="sidebar-category sidebar-category-visible">
                                <div class="category-title h6">
                                    <span class="text-bold text-uppercase">Navegação Principal</span>
                                    <ul class="icons-list">
                                        <li><a href="#" data-action="collapse"></a></li>
                                    </ul>
                                </div>


                                <!-- User menu -->
                                <div class="category-content sidebar-user">
                                    <div class="media">
                                        <a href="#" class="media-left">  <img src="http://<%=ip%>:8081/suc/images/profile-pictures/<%=fotoPerfil%>" alt="<%=nome%>" class="img-circle img-sm"></a>
                                        <div class="media-body">
                                            <span class="media-heading text-semibold"><%=nome%></span>
                                            <div class="text-size-mini text-muted">
                                                <i class="icon-briefcase text-size-small"></i> <%=cargo%>
                                            </div>
                                        </div>

                                        <div class="media-right media-middle">
                                            <ul class="icons-list">
                                                <li>
                                                    <a href="#"><i class="icon-cog3"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /user menu -->

                                <div class="category-content no-padding">
                                    <ul class="navigation navigation-main navigation-accordion">

                                        <!-- Main -->
                                        <li class="navigation-header"><span>Menu Principal</span> <i class="icon-menu" title="Menu Principal"></i></li>
                                        <li><a href="TW9kdWxvU2VydmxldCNEQ0k=?YWNjYW8jZXhhbWUtZXh0cmFvZGluYXJpbw=="><i class="icon-home4"></i> <span class="text-bold text-uppercase">Dashboard</span></a></li>


                                        <!-- Exames Extraordinários-->
                                        <li class="active">
                                            <a href="#"><i class="icon-pencil4"></i> <span class="text-bold text-uppercase">E. Extraordinários</span></a>
                                            <ul>
                                                <%if (mu.isMuiIfpPeriodoInscricao()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jcGVyaW9kby1pbnNjcmljYW8="><i class="icon-calendar2"></i> Periodos de Inscrição</a></li><%}%>
                                                <%if (mu.isMuiIfpCentroExame()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jY2VudHJvcw=="><i class="icon-office"></i> Centros de Exame</a></li><%}%>
                                                <%if (mu.isMuiIfpInscrverCandidato()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jaW5zY3JpY2Fv"><i class="icon-file-plus"></i> Inscrever Candidato</a></li><%}%>
                                                <%if (mu.isMuiIfpValidarInscricao()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jdmFsaWRhci1pbnNjcmljb2Vz"><i class="icon-checkmark"></i> Validar Inscrições</a></li><%}%>
                                                <%if (mu.isMuiIfpCandidatosInscritos()) {%><li class="active"><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jYXB1cmFkb3M="><i class="icon-user-check"></i> Candidatos Inscritos</a></li><%}%>
                                                <%if (mu.isMuiIfpCandidatosInscritos()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jYXB1cmFkb3MtZGlzY2lwbGluYQ=="><i class="icon-bookmark"></i> Candidatos Disciplina</a></li><%}%>
                                                <%if (mu.isMuiIfpCalendarioExames()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jY2FsZW5kYXJpbw=="><i class="icon-calendar3"></i> Calendário Exames</a></li><%}%>
                                                <%if (mu.isMuiIfpCriacaoJuris()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8janVyaXM="><i class="icon-reading"></i> Criação de Júris</a></li><%}%>
                                                <%if (mu.isMuiIfpCriacaoJuris()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jZGlzdHJpYnVpY2FvLWp1cmlz"><i class="icon-split"></i> Distribuição por Júris</a></li><%}%>
                                                <%if (mu.isMuiIfpSalaExame()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jdHVybWFz"><i class="icon-collaboration"></i> Lista de Júris</a></li><%}%>
                                                <%if (mu.isMuiIfpGuiaoRespostas()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jZm9saGE="><i class="icon-stack-check"></i> Guião de Respostas</a></li><%}%>
                                                <%if (mu.isMuiIfpCarregarRespostas()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jZGVjb2Rlcg=="><i class="icon-download4"></i> Carregar Respostas</a></li><%}%>
                                                <%if (mu.isMuiIfpPautas()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jcHJlc2VuY2Fz"><i class="icon-exclamation"></i> Presenças/Fraudes</a></li><%}%>
                                                <%if (mu.isMuiIfpPautas()) {%><li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jcGF1dGE="><i class="icon-table2"></i> Pauta de Exame</a></li><%}%>
                                            </ul>
                                        </li>
                                        <!-- /exames extraordinários -->
                                        <!-- Relatório -->
                                        <%
                                            if (mu.isMuiEstatisticas()) {
                                        %>
                                        <li>
                                            <a href="#"><i class="icon-list3"></i> <span class="text-bold text-uppercase">Relatórios</span></a>
                                            <ul>
                                                <li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jbWFwYS1hdmFsaWRhZG9z"><i class="icon-bookmark4"></i> Mapa de Avaliados</a></li>
                                                <li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jbWFwYS1wcmVzZW5jYXM="><i class="icon-list-numbered"></i> Mapa de Presenças</a></li>
                                                <li><a href="SUZQU2VydmxldCNEQ0k=?YWNjYW8jbWFwYS1pbnNjcml0b3M="><i class="icon-checkmark-circle"></i> Mapa de Inscritos</a></li>
                                            </ul>
                                        </li>
                                        <%
                                            }
                                        %>
                                        <!-- /relatório -->
                                    </ul>
                                </div>
                            </div>
                            <!-- /main navigation -->
                        </div>

                    </div>
                </div>
                <!-- /main sidebar -->

                <!-- Main content -->
                <div class="content-wrapper">


                    <!-- Toolbar -->
                    <div class="navbar navbar-default navbar-component navbar-xs">
                        <ul class="nav navbar-nav visible-xs-block">
                            <li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
                        </ul>

                        <div class="navbar-collapse collapse" id="navbar-filter">
                            <ul class="nav navbar-nav element-active-orange-400">
                                <li class="active"><a href="#settings" data-toggle="tab" class="text-bold text-uppercase"><i class="icon-user-check position-left"></i> Listagem dos Candidatos Inscritos</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- /toolbar -->




                    <div class = "row">




                        <!-- Vertical form options -->
                        <div class="col-md-12"> 
                            <!-- Basic layout-->

                            <form method="post" accept-charset="ISO-8859-1" action="SUZQU2VydmxldCNEQ0k=?YWNjYW8jYXB1cmFkb3M=">
                                <div class="panel panel-flat">
                                    <div class="panel-body">

                                        <div class="row">

                                            <div class="col-md-2">

                                                <label class="control-label text-bold text-uppercase">Classe:</label>

                                                <select class="select" name="idCurso" disabled="">
                                                    <optgroup label="Selecione a classe">

                                                        <%
                                                            if (cursos != null) {
                                                                for (Curso c : cursos) {

                                                                    int id = c.getCursId();
                                                                    String desc = encryptUtils.decodeString(c.getCursCod()) + " - " + encryptUtils.decodeString(c.getCursDescricao());

                                                                    String sel = "";

                                                                    if (curso != null) {
                                                                        if (id == curso.getCursId()) {
                                                                            sel = "selected";
                                                                        }
                                                                    }
                                                        %>
                                                        <option value="<%=id%>" <%=sel%>><%=desc%></option>
                                                        <%
                                                                }
                                                            }
                                                        %>                                                                

                                                    </optgroup>
                                                </select>
                                            </div>

                                            <div class="col-md-3">

                                                <label class="control-label text-bold text-uppercase">provincia:</label>

                                                <select class="select" name="idProvincia"  placeholder="Selecione a provincia" id="make">
                                                    <optgroup label="Selecione a provincia">
                                                        <option></option>

                                                        <%
                                                            if (provinces != null) {
                                                                for (EdstProvince ep : provinces) {

                                                                    int id = ep.getId();
                                                                    String desc = ep.getName();

                                                                    String sel = "";

                                                                    if (desc.equals(provinciaSel)) {
                                                                        sel = "selected";
                                                                    }
                                                        %>
                                                        <option value="<%=desc%>" <%=sel%>><%=desc%></option>
                                                        <%
                                                                }
                                                            }
                                                        %>                                                                

                                                    </optgroup>
                                                </select>

                                            </div>

                                            <div class="col-md-4">
                                                <label class="control-label text-bold text-uppercase">Escola:</label>
                                                <select class="select" name="escola" data-placeholder="Selecione a escola" id="schools">
                                                    <optgroup label="Selecione a escola">

                                                    </optgroup>
                                                </select>

                                            </div>
                                        </div> <!-- /row.1.1-->

                                        <div class="row">
                                            <br>
                                            <div class="col-md-4">
                                                <button type="submit" onclick="this.disabled = 'disabled'; this.form.submit();" class="btn bg-orange-600 btn-labeled text-bold text-uppercase">
                                                    <b><i class="icon-search4 position-right"></i></b> 
                                                    Filtrar Registos
                                                </button>
                                            </div>
                                        </div> <!-- /row.1.2-->

                                    </div>
                                </div>
                            </form>
                            <!-- /basic layout -->

                        </div>


                    </div>
                    <!-- /row.1-->

                    <!-- User profile -->
                    <div class="row">



                        <%
                            String dd = "";
                            String cur = "";
                            String di = "";

                            String an = "";

                            if (disciplina != null) {
                                cur = "12ª Classe";
                                di = encryptUtils.decodeString(disciplina.getDiscDescricao());
                            }

                            if (anoLectivo != null) {
                                an = encryptUtils.decodeString(anoLectivo.getAnolDescricao());
                            }
                        %>



                        <div class="col-md-12">

                            <!-- Basic responsive configuration -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h6 class="panel-title text-bold text-uppercase">LISTA DE CANDIDATOS A EXAME  <i class=" icon-arrow-right7"></i>  <span class="text-danger-600"><%=cur%></span> <span> - [<%=provinciaSel + " : " + escolaSel%>]</span></h6>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a data-action="collapse"></a></li>
                                            <li><a data-action="reload"></a></li>
                                        </ul>
                                    </div>
                                </div>



                                <div class="panel-body">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button id="btnExport" onclick="fnExcelReport('id18', 'LISTA DE CANDIDATOS A EXAME', '<%=an%>', '<%=cur%>');" class="btn bg-success-600 btn-labeled btn-labeled-left text-bold text-uppercase">
                                                <b><i class="icon-file-excel"></i></b>
                                                Exportar registos
                                            </button>
                                        </div>
                                    </div>

                                </div>


                                <table class="table datatable-responsive">
                                    <thead>
                                        <tr>
                                            <th class="text-bold text-uppercase">#</th>
                                            <th class="text-bold text-uppercase">Província</th>
                                            <th class="text-bold text-uppercase">Escola</th>
                                            <th class="text-bold text-uppercase">Código</th>
                                            <th class="text-bold text-uppercase">Candidato ID</th>
                                            <th class="text-bold text-uppercase">Nome Completo</th>
                                            <th class="text-bold text-uppercase">Género</th>
                                            <th class="text-bold text-uppercase">Tipo de Doc.</th>
                                            <th class="text-bold text-uppercase">Nº Do Documento</th>
                                            <th class="text-bold text-uppercase">Grupo Científico</th>
                                            <th class="text-bold text-uppercase">Disciplina</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        <%
                                            int i = 0;
                                            if (inscricoes != null) {

                                                for (Inscricao e : inscricoes) {

                                                    int id = e.getInscId();

                                                    String s1 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessNome()) + " " + encryptUtils.decodeString(e.getAluno().getPessoa().getPessApelido());
                                                    String s2 = "---";

                                                    if (e.getAluno().getAlunUnico() != null) {
                                                        s2 = encryptUtils.decodeString(e.getAluno().getAlunUnico());
                                                    }

                                                    String s3 = encryptUtils.decodeString(e.getEntidade().getEntiProvincia());
                                                    String s4 = encryptUtils.decodeString(e.getEntidade().getEntiLicenca());
                                                    String s5 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessSexo()).charAt(0) + "";
                                                    String s6 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessDocumento());
                                                    String s7 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessBi());
                                                    String s8 = "---";
                                                    String s9 = "";
                                                    String s10 = encryptUtils.decodeString(e.getEntidade().getEntiNome());

                                                    String str = encryptUtils.decodeString(e.getInscDisciplinas());

                                                    if (str != null) {
                                                        if (!str.isEmpty()) {
                                                            List<String> items = Arrays.asList(str.split("\\s*,\\s*"));

                                                            for (String s : items) {
                                                                if (s.length() > 3) {

                                                                    s9 += s.substring(0, 3) + ",";
                                                                } else {
                                                                    s9 += s + ",";
                                                                }
                                                            }
                                                        }

                                                    }

                                                    if (!s9.isEmpty()) {
                                                        s9 = s9.substring(0, s9.length() - 1);
                                                    }

                                                    i++;

                                        %>
                                        <tr>
                                            <td class="text-bold text-primary-600"><%=i%></td>
                                            <td class="text-uppercase"><%=s3%></td>
                                            <td class="text-uppercase"><%=s10%></td>
                                            <td class="text-uppercase"><%=s4%></td>
                                            <td class="text-bold"><%=s2%></td>
                                            <td class="text-uppercase"><%=s1%></td>
                                            <td class="text-uppercase"><%=s5%></td>
                                            <td class="text-uppercase"><%=s6%></td>
                                            <td class="text-uppercase"><%=s7%></td>
                                            <td class="text-uppercase"><%=s8%></td>
                                            <td class="text-uppercase"><%=s9%></td>
                                        </tr>

                                        <%

                                                }
                                            }
                                        %>

                                    </tbody>
                                </table>




                                <table class="table" hidden="" id="id18">
                                    <thead>
                                        <tr>
                                            <th class="text-bold text-uppercase">#</th>
                                            <th class="text-bold text-uppercase">Província</th>
                                            <th class="text-bold text-uppercase">Escola</th>
                                            <th class="text-bold text-uppercase">Código</th>
                                            <th class="text-bold text-uppercase">Candidato ID</th>
                                            <th class="text-bold text-uppercase">Nome Completo</th>
                                            <th class="text-bold text-uppercase">Género</th>
                                            <th class="text-bold text-uppercase">Tipo de Doc.</th>
                                            <th class="text-bold text-uppercase">Nº Do Documento</th>
                                            <th class="text-bold text-uppercase">Grupo Científico</th>
                                            <th class="text-bold text-uppercase">Disciplina</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        <%
                                            i = 0;
                                            if (inscricoes != null) {

                                                for (Inscricao e : inscricoes) {

                                                    int id = e.getInscId();

                                                    String s1 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessNome()) + " " + encryptUtils.decodeString(e.getAluno().getPessoa().getPessApelido());

                                                    String s3 = encryptUtils.decodeString(e.getEntidade().getEntiProvincia());
                                                    String s4 = encryptUtils.decodeString(e.getEntidade().getEntiLicenca());
                                                    String s5 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessSexo()).charAt(0) + "";
                                                    String s6 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessDocumento());
                                                    String s7 = encryptUtils.decodeString(e.getAluno().getPessoa().getPessBi());
                                                    String s8 = "---";
                                                    String s9 = "";
                                                    String s10 = encryptUtils.decodeString(e.getEntidade().getEntiNome());

                                                    String str = encryptUtils.decodeString(e.getInscDisciplinas());

                                                    String s2 = "---";

                                                    if (e.getAluno().getAlunUnico() != null) {
                                                        s2 = encryptUtils.decodeString(e.getAluno().getAlunUnico());
                                                    }

                                                    if (str != null) {
                                                        if (!str.isEmpty()) {
                                                            List<String> items = Arrays.asList(str.split("\\s*,\\s*"));

                                                            for (String s : items) {
                                                                if (s.length() > 3) {

                                                                    s9 += s.substring(0, 3) + ",";
                                                                } else {
                                                                    s9 += s + ",";
                                                                }
                                                            }
                                                        }

                                                    }

                                                    if (!s9.isEmpty()) {
                                                        s9 = s9.substring(0, s9.length() - 1);
                                                    }

                                                    i++;

                                        %>
                                        <tr>
                                            <td class="text-bold text-primary-600"><%=i%></td>
                                            <td class="text-uppercase"><%=s3%></td>
                                            <td class="text-uppercase"><%=s10%></td>
                                            <td class="text-uppercase"><%=s4%></td>
                                            <td class="text-bold"><%=s2%></td>
                                            <td class="text-uppercase"><%=s1%></td>
                                            <td class="text-uppercase"><%=s5%></td>
                                            <td class="text-uppercase"><%=s6%></td>
                                            <td class="text-uppercase"><%=s7%></td>
                                            <td class="text-uppercase"><%=s8%></td>
                                            <td class="text-uppercase"><%=s9%></td>
                                        </tr>

                                        <%

                                                }
                                            }
                                        %>

                                    </tbody>
                                </table>

                            </div>
                            <!-- /basic responsive configuration -->
                        </div>

                    </div>
                    <!-- /row.2 -->

                </div>
                <!-- /main content -->

            </div>
            <!-- /page content -->



            <!-- Footer -->
            <div class="footer text-bold">
                <%
                    String ano = session.getAttribute("ano").toString();
                %>
                &copy; <%=ano%>. <a href="#" class="text-bold">MINEDH. SEGIA</a>. Todos os direitos reservados
            </div>
            <!-- /footer -->

        </div>
        <!-- /page container -->


        <script>
            $(function () {
                //setup arrays
                var schools = {<%=lblEscolas%>};
                var desc = '<%=escolaSel%>';

                $('#make').change(function () {
                    $("#schools").html(""); //clear existing options
                    var newOptions2 = schools[this.value]; //finds the array w/the name of the selected value
                    //populate the new options
                    for (var i = 0; i < newOptions2.length; i++) {

                        if (desc === newOptions2[i])
                        {
                            $("#schools").append("<option value='" + newOptions2[i] + "' selected>" + newOptions2[i] + "</option>");
                        } else
                        {
                            $("#schools").append("<option value='" + newOptions2[i] + "'>" + newOptions2[i] + "</option>");
                        }


                    }
                });
            });
        </script>

        <script type="text/javascript">

            function fnExcelReport(idTable, title, an, cur)
            {
                var tab_text = "<meta http-equiv='content-type' content='application/vnd.ms-excel; charset=UTF-8'> <style type='text/css'>  body {font-family: Verdana;}</style> <br><br><h4 style='text-align: center; font-family: Verdana;'><b>" + title + "</b></h4><br>\n\
         <br><h4 style='text-align: center; font-family: Verdana;'><b>ANO LECTIVO: " + an + " | CLASSE: " + cur + "</b></h4><br>\n\
                                \n\
                             <table border='2px'><tr bgcolor='#87AFC6'>";
                var textRange;
                var j = 0;
                tab = document.getElementById(idTable); // id of table

                for (j = 0; j < tab.rows.length; j++)
                {
                    tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
                    //tab_text=tab_text+"</tr>";
                }

                tab_text = tab_text + "</table>";
                tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
                tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
                tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

                var ua = window.navigator.userAgent;
                var msie = ua.indexOf("MSIE");

                if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
                {
                    txtArea1.document.open("txt/html", "replace");
                    txtArea1.document.write(tab_text);
                    txtArea1.document.close();
                    txtArea1.focus();
                    sa = txtArea1.document.execCommand("SaveAs", true, "Exportação com sucesso");
                } else                 //other browser not tested on IE 11
                {
                    sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
                }
                return (sa);
            }

        </script>
        <!-- /scripts -->

        <script type="text/javascript" src="assets/js/pages/picker_date.js"></script>

    </body>
</html>
